--get opening and closing Amount
select AccountCode, SubjectCode, sum(OpeningAmount) as OpeningAmount, sum (OpeningAmount + DebitAmount - CreditAmount) as ClosingAmount into #th
from
(select AccountCode, SubjectCode, OpeningAmount, 0 as DebitAmount, 0 as CreditAmount
from AccountOpenings
where PeriodCode='0701'
union all
select AccountCode, SubjectCode, 0 as OpeningAmount, DebitAmount, CreditAmount
from AccountTransactionDetail1s) a
group by AccountCode, SubjectCode

--prepare result
declare @zero decimal(18,0)
set @zero=0
select *, @zero as OpeningAmount, @zero as ClosingAmount into #result
from ReportBalanceAccount

declare @level int
select @level = max(RowLevel) from #result
--update result for maxlevel rows and is not calculated
declare csTemp cursor for select RowCode,Formula,Remain from #result where RowLevel=@level and Calculated=0
open csTemp
declare @RowCode varchar(10), @Formula nvarchar(200), @Remain nvarchar(20),@RowAdd nvarchar(50),@RowMinus nvarchar(50)
declare @OpeningAmount decimal(18,0), @ClosingAmount decimal(18,0), @sql nvarchar(2000)
fetch next from csTemp into @RowCode,@Formula,@Remain
while @@fetch_status=0 begin
	
	if @Remain='NO' begin
		set @sql= 'update #result
		set OpeningAmount= (select isnull(sum(OpeningAmount),0)
		from #th
		where OpeningAmount>0 and ' + @Formula + ') where RowCode=@RowCode '+
		'update #result
		set ClosingAmount= (select isnull(sum(ClosingAmount),0)
		from #th
		where ClosingAmount>0 and ' + @Formula + ') where RowCode=@RowCode'
		exec sp_executesql @sql,N'@RowCode varchar(10)',@RowCode=@RowCode
	end else
	if @Remain='CO' begin
		set @sql= 'update #result
		set OpeningAmount= (select -isnull(sum(OpeningAmount),0)
		from #th
		where OpeningAmount<0 and ' + @Formula + ') where RowCode=@RowCode '+
		'update #result
		set ClosingAmount= (select -isnull(sum(ClosingAmount),0)
		from #th
		where ClosingAmount<0 and ' + @Formula + ') where RowCode=@RowCode'
		exec sp_executesql @sql,N'@RowCode varchar(10)',@RowCode=@RowCode
	end else
	if @Remain='NO-CO' begin
		set @sql= 'update #result
		set OpeningAmount= (select isnull(sum(OpeningAmount),0)
		from #th
		where ' + @Formula + ') where RowCode=@RowCode '+
		'update #result
		set ClosingAmount= (select isnull(sum(ClosingAmount),0)
		from #th
		where ' + @Formula + ') where RowCode=@RowCode'
		exec sp_executesql @sql,N'@RowCode varchar(10)',@RowCode=@RowCode
	end else
	if @Remain='CO-NO' begin
		set @sql= 'update #result
		set OpeningAmount= (select -isnull(sum(OpeningAmount),0)
		from #th
		where ' + @Formula + ') where RowCode=@RowCode '+
		'update #result
		set ClosingAmount= (select -isnull(sum(ClosingAmount),0)
		from #th
		where ' + @Formula + ') where RowCode=@RowCode'
		exec sp_executesql @sql,N'@RowCode varchar(10)',@RowCode=@RowCode
	end
	
	fetch next from csTemp into @RowCode,@Formula,@Remain
end
close csTemp
deallocate csTemp
--update result for maxlevel rows and is calculated
declare csTemp cursor for select RowCode,RowAdd,RowMinus from #result where RowLevel=@level and Calculated=1
open csTemp
fetch next from csTemp into @RowCode,@RowAdd,@RowMinus
while @@fetch_status=0 begin
	if @RowAdd='' 
		set @RowAdd = ''''''
	if @RowMinus='' 
		set @RowMinus = ''''''
	set @sql='update #result
	set OpeningAmount=(select isnull(sum(OpeningAmount),0) from #result where RowCode in ('+@RowAdd+'))-(select isnull(sum(OpeningAmount),0) from #result where RowCode in ('+@RowMinus+')),
	ClosingAmount=(select sum(ClosingAmount) from #result where RowCode in ('+@RowAdd+'))-(select isnull(sum(ClosingAmount),0) from #result where RowCode in ('+@RowMinus+'))
	where RowCode='''+@RowCode+''''
	exec (@sql)
	fetch next from csTemp into @RowCode,@RowAdd,@RowMinus
end
close csTemp
deallocate csTemp
--update result for parent levels
set @level=@level-1
while @level>0 begin
	--update result by sum children levels
	declare csTemp cursor for select RowCode from #result where RowLevel=@level and Calculated=0
	open csTemp
	fetch next from csTemp into @RowCode
	while @@fetch_status=0 begin
		update #result
		set OpeningAmount = (select isnull(sum(OpeningAmount),0) from #result where ParentRowCode=@RowCode),
		ClosingAmount = (select isnull(sum(ClosingAmount),0) from #result where ParentRowCode=@RowCode)
		where RowCode=@RowCode
		fetch next from csTemp into @RowCode
	end
	close csTemp
	deallocate csTemp

	--update result for calculated formula
	declare csTemp cursor for select RowCode,RowAdd,RowMinus from #result where RowLevel=@level and Calculated=1
	open csTemp
	fetch next from csTemp into @RowCode,@RowAdd,@RowMinus
	while @@fetch_status=0 begin
		if @RowAdd='' 
			set @RowAdd = ''''''
		if @RowMinus='' 
			set @RowMinus = ''''''
		set @sql='update #result
		set OpeningAmount=(select isnull(sum(OpeningAmount),0) from #result where RowCode in ('+@RowAdd+'))-(select isnull(sum(OpeningAmount),0) from #result where RowCode in ('+@RowMinus+')),
		ClosingAmount=(select sum(ClosingAmount) from #result where RowCode in ('+@RowAdd+'))-(select isnull(sum(ClosingAmount),0) from #result where RowCode in ('+@RowMinus+'))
		where RowCode='''+@RowCode+''''
		exec (@sql)
		fetch next from csTemp into @RowCode,@RowAdd,@RowMinus
	end
	close csTemp
	deallocate csTemp

	set @level=@level-1
end
--select @level
--select * from #th
drop table #th
select * from #result order by RowCode
drop table #result