if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[trg_StockTransactions_CheckClosed]') and OBJECTPROPERTY(id, N'IsTrigger') = 1)
drop trigger [dbo].[trg_StockTransactions_CheckClosed]
GO
CREATE TRIGGER trg_StockTransactions_CheckClosed ON [dbo].[StockTransactions] 
FOR INSERT, UPDATE, DELETE 
AS
--if exists (select * from PeriodCloseds where ModuleCode='Stock') begin
	declare @LimitDate datetime

	set @LimitDate=dbo.fn_GetDateLock('Stock')

	if exists(select TransactionDate from inserted where TransactionDate<=@LimitDate) begin
		RAISERROR('Kho da khoa so',16,1) WITH SETERROR 
		return
	end
	if exists(select TransactionDate from deleted where TransactionDate<=@LimitDate) begin
		raiserror('Kho da khoa so',16,1) with SETERROR
		return
	end
--end

GO

-- use ves15
-- go
-- select * from PeriodCloseds order by PeriodCode desc

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[trg_WeightItems_CheckClosed]') and OBJECTPROPERTY(id, N'IsTrigger') = 1)
drop trigger [dbo].[trg_WeightItems_CheckClosed]
GO

CREATE TRIGGER trg_WeightItems_CheckClosed ON [dbo].[WeightItems] 
FOR INSERT, UPDATE, DELETE 
AS
--if exists (select * from PeriodCloseds where ModuleCode='Stock') begin
	declare @LimitDate datetime
	set @LimitDate=dbo.fn_GetDateLock('Stock')

	if exists (select WeightDate from inserted where WeightDate<=@LimitDate) begin
		RAISERROR('Kho da khoa so',16,1) WITH SETERROR 
		return
	end
	if exists (select WeightDate from deleted where WeightDate<=@LimitDate) begin
		raiserror('Kho da khoa so',16,1) with SETERROR
		return
	end
--end
GO

-----------------------------------------------
--created by Thanh 09/10/2007
if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[trg_WeightItemContainers_CheckClosed]') and OBJECTPROPERTY(id, N'IsTrigger') = 1)
drop trigger [dbo].[trg_WeightItemContainers_CheckClosed]
GO
CREATE TRIGGER trg_WeightItemContainers_CheckClosed ON [dbo].[WeightItemContainers] 
FOR INSERT, UPDATE, DELETE 
AS
--if exists (select * from PeriodCloseds where ModuleCode='Stock') begin
	declare @LimitDate datetime
	
	set @LimitDate=dbo.fn_GetDateLock('Stock')

	if exists (select WeightDate from inserted where WeightDate<=@LimitDate) begin
		RAISERROR('Kho da khoa so',16,1) WITH SETERROR 
		return
	end
	if exists (select WeightDate from deleted where WeightDate<=@LimitDate) begin
		raiserror('Kho da khoa so',16,1) with SETERROR
		return
	end
--end
GO
-----------------------------------------------

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[trg_CustomerOrders_CheckClosed]') and OBJECTPROPERTY(id, N'IsTrigger') = 1)
drop trigger [dbo].[trg_CustomerOrders_CheckClosed]
GO

CREATE TRIGGER trg_CustomerOrders_CheckClosed ON [dbo].[CustomerOrders] 
FOR INSERT, UPDATE, DELETE 
AS
--if exists (select * from PeriodCloseds where ModuleCode='Sale') begin
	declare @LimitDate datetime

	set @LimitDate=dbo.fn_GetDateLock('Sale')

	if exists (select CustomerOrderDate from inserted where CustomerOrderDate<=@LimitDate) begin
		RAISERROR('Ban hang da khoa so',16,1) WITH SETERROR 
		return
	end
	if exists (select CustomerOrderDate from deleted where CustomerOrderDate<=@LimitDate) begin
		raiserror('Ban hang da khoa so',16,1) with SETERROR
		return
	end
--end
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[trg_SaleRequests_CheckClosed]') and OBJECTPROPERTY(id, N'IsTrigger') = 1)
drop trigger [dbo].[trg_SaleRequests_CheckClosed]
GO
CREATE TRIGGER trg_SaleRequests_CheckClosed ON [dbo].[SaleRequests] 
FOR INSERT, UPDATE, DELETE 
AS
--if exists (select * from PeriodCloseds where ModuleCode='Sale') begin
	declare @LimitDate datetime

	set @LimitDate=dbo.fn_GetDateLock('Sale')

	if exists(select SaleRequestDate from inserted where SaleRequestDate<=@LimitDate) begin
		RAISERROR('Ban hang da khoa so',16,1) WITH SETERROR 
		return
	end
	if exists(select SaleRequestDate from deleted where SaleRequestDate<=@LimitDate) begin
		raiserror('Ban hang da khoa so',16,1) with SETERROR
		return
	end
--end
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[trg_CustomerPayments_CheckClosed]') and OBJECTPROPERTY(id, N'IsTrigger') = 1)
drop trigger [dbo].[trg_CustomerPayments_CheckClosed]
GO
CREATE TRIGGER trg_CustomerPayments_CheckClosed ON [dbo].[CustomerPayments] 
FOR INSERT, UPDATE, DELETE 
AS
--if exists (select * from PeriodCloseds where ModuleCode='Sale') begin
	declare @LimitDate datetime

	set @LimitDate=dbo.fn_GetDateLock('Sale')

	if exists (select PaymentDate from inserted where PaymentDate<=@LimitDate) begin
		RAISERROR('Ban hang da khoa so',16,1) WITH SETERROR 
		return
	end
	if exists (select PaymentDate from deleted where PaymentDate<=@LimitDate) begin
		raiserror('Ban hang da khoa so',16,1) with SETERROR
		return
	end
--end
GO


if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[trg_ManufactureShifts_CheckClosed]') and OBJECTPROPERTY(id, N'IsTrigger') = 1)
drop trigger [dbo].[trg_ManufactureShifts_CheckClosed]
GO
CREATE TRIGGER trg_ManufactureShifts_CheckClosed ON [dbo].[ManufactureShifts] 
FOR INSERT, UPDATE, DELETE 
AS
--if exists (select * from PeriodCloseds where ModuleCode='Manufacture') begin
	declare @LimitDate datetime

	set @LimitDate=dbo.fn_GetDateLock('Manufacture')

	if exists (select ManufactureDate from inserted where ManufactureDate<=@LimitDate) begin
		RAISERROR('San xuat da khoa so',16,1) WITH SETERROR 
		return
	end
	if exists (select ManufactureDate from deleted where ManufactureDate<=@LimitDate) begin
		raiserror('San xuat da khoa so',16,1) with SETERROR
		return
	end
--end
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[trg_Manufactures_CheckClosed]') and OBJECTPROPERTY(id, N'IsTrigger') = 1)
drop trigger [dbo].[trg_Manufactures_CheckClosed]
GO
CREATE TRIGGER trg_Manufactures_CheckClosed ON [dbo].[Manufactures] 
FOR INSERT, UPDATE, DELETE 
AS
--if exists (select * from PeriodCloseds where ModuleCode='Manufacture') begin
	declare @LimitDate datetime

	set @LimitDate=dbo.fn_GetDateLock('Manufacture')

	if exists (select s.ManufactureDate from ManufactureShifts s, inserted i where s.ManufactureShiftID=i.ManufactureShiftID and s.ManufactureDate<=@LimitDate) begin
		RAISERROR('San xuat da khoa so',16,1) WITH SETERROR 
		return
	end
	if exists (select s.ManufactureDate from ManufactureShifts s, deleted i where s.ManufactureShiftID=i.ManufactureShiftID and s.ManufactureDate<=@LimitDate) begin
		raiserror('San xuat da khoa so',16,1) with SETERROR
		return
	end
--end
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[trg_MixPremixShifts_CheckClosed]') and OBJECTPROPERTY(id, N'IsTrigger') = 1)
drop trigger [dbo].[trg_MixPremixShifts_CheckClosed]
GO
CREATE TRIGGER trg_MixPremixShifts_CheckClosed ON [dbo].[MixPremixShifts] 
FOR INSERT, UPDATE, DELETE 
AS
--if exists (select * from PeriodCloseds where ModuleCode='Premix') begin
	declare @LimitDate datetime

	set @LimitDate=dbo.fn_GetDateLock('Premix')

	if exists (select MixDate from inserted where MixDate<=@LimitDate) begin
		RAISERROR('So che thuoc da khoa so',16,1) WITH SETERROR 
		return
	end
	if exists (select MixDate from deleted where MixDate<=@LimitDate) begin
		raiserror('So che thuoc da khoa so',16,1) with SETERROR
		return
	end
--end
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[trg_MixPremixs_CheckClosed]') and OBJECTPROPERTY(id, N'IsTrigger') = 1)
drop trigger [dbo].[trg_MixPremixs_CheckClosed]
GO
CREATE TRIGGER trg_MixPremixs_CheckClosed ON [dbo].[MixPremixs] 
FOR INSERT, UPDATE, DELETE 
AS
--if exists (select * from PeriodCloseds where ModuleCode='Manufacture') begin
	declare @LimitDate datetime

	set @LimitDate=dbo.fn_GetDateLock('Premix')

	if exists (select m.MixDate from MixPremixShifts m, inserted i where m.MixPremixShiftID=i.MixPremixShiftID and m.MixDate<=@LimitDate) begin
		RAISERROR('San xuat da khoa so',16,1) WITH SETERROR 
		return
	end
	if exists (select m.MixDate from MixPremixShifts m, deleted i where m.MixPremixShiftID=i.MixPremixShiftID and m.MixDate<=@LimitDate) begin
		raiserror('San xuat da khoa so',16,1) with SETERROR
		return
	end
--end
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[trg_GrindMaterialShifts_CheckClosed]') and OBJECTPROPERTY(id, N'IsTrigger') = 1)
drop trigger [dbo].[trg_GrindMaterialShifts_CheckClosed]
GO
CREATE TRIGGER trg_GrindMaterialShifts_CheckClosed ON [dbo].[GrindMaterialShifts] 
FOR INSERT, UPDATE, DELETE 
AS
--if exists (select * from PeriodCloseds where ModuleCode='Grind') begin
	declare @LimitDate datetime

	set @LimitDate=dbo.fn_GetDateLock('Grind')

	if exists (select GrindDate from inserted where GrindDate<=@LimitDate) begin
		RAISERROR('Nghien da khoa so',16,1) WITH SETERROR 
		return
	end
	if exists (select GrindDate from deleted where GrindDate<=@LimitDate) begin
		raiserror('Nghien da khoa so',16,1) with SETERROR
		return
	end
--end
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[trg_GrindMaterials_CheckClosed]') and OBJECTPROPERTY(id, N'IsTrigger') = 1)
drop trigger [dbo].[trg_GrindMaterials_CheckClosed]
GO
CREATE TRIGGER trg_GrindMaterials_CheckClosed ON [dbo].[GrindMaterials] 
FOR INSERT, UPDATE, DELETE 
AS
--if exists (select * from PeriodCloseds where ModuleCode='Manufacture') begin
	declare @LimitDate datetime

	set @LimitDate=dbo.fn_GetDateLock('Grind')

	if exists (select g.GrindDate from GrindMaterialShifts g, inserted i where g.GrindMaterialShiftID=i.GrindMaterialShiftID and g.GrindDate<=@LimitDate) begin
		RAISERROR('San xuat da khoa so',16,1) WITH SETERROR 
		return
	end
	if exists (select g.GrindDate from GrindMaterialShifts g, deleted i where g.GrindMaterialShiftID=i.GrindMaterialShiftID and g.GrindDate<=@LimitDate) begin
		raiserror('San xuat da khoa so',16,1) with SETERROR
		return
	end
--end
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[trg_AccountTransactions_CheckClosed]') and OBJECTPROPERTY(id, N'IsTrigger') = 1)
drop trigger [dbo].[trg_AccountTransactions_CheckClosed]
GO
CREATE TRIGGER trg_AccountTransactions_CheckClosed ON [dbo].[AccountTransactions] 
FOR INSERT, UPDATE, DELETE 
AS
--if exists (select * from PeriodCloseds where ModuleCode='Accounting') begin
	declare @LimitDate datetime

	set @LimitDate=dbo.fn_GetDateLock('Accounting')

	if exists (select AccountTransactionDate from inserted where AccountTransactionDate<=@LimitDate) begin
		RAISERROR('Ke toan da khoa so',16,1) WITH SETERROR 
		return
	end
	if exists (select AccountTransactionDate from deleted where AccountTransactionDate<=@LimitDate) begin
		raiserror('Ke toan da khoa so',16,1) with SETERROR
		return
	end
--end
GO
