<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="VNS.ERP.DataSynchronize.Properties.Settings.VESSADECConnectionString"
      connectionString="Data Source=VNSW08\;Initial Catalog=VESSADEC;User ID=sa"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="Provider" value="System.Data.SqlClient"/>
    <add key="Server" value="(local)"/>
    <add key="Database" value="VES14"/>
    <add key="UserName" value="sa"/>
    <add key="Password" value="ADhHedU13eg="/>
    <add key="TimeOut" value="150"/>
    <add key="LogFolder" value="log"/>
    <add key="LogFileName" value="VNSACC.log"/>
    <add key="LanguageFolder" value="xml"/>
    <add key="DateFormat" value="dd/MM/yyyy"/>
    <add key="EnabledColor" value="White"/>
    <add key="ReadOnlyColor" value="LightGray"/>
    <add key="DisabledColor" value="LightGray"/>

    <add key="Server1" value="(local)"/>
    <add key="Database1" value="VESSADEC"/>
    <add key="UserName1" value="sa"/>
    <add key="Password1" value="ADhHedU13eg="/>
    
    <add key="Server2" value="(local)"/>
    <add key="Database2" value="VESLAIVUNG"/>
    <add key="UserName2" value="sa"/>
    <add key="Password2" value="ADhHedU13eg="/>
  </appSettings>
</configuration>